In [14]:
import pandas as pd
import xlwings as xw

In [15]:
workbook = xw.Book('score.xlsx')
workbook

In [16]:
# 열린 시트 보기
workbook.sheets

Sheets([<Sheet [score.xlsx]Sheet1>, <Sheet [score.xlsx]Sheet2>])

In [17]:
# 시트 이름으로 불러오기
workbook.sheets['Sheet1']

In [35]:
sheet = workbook.sheets.active
data = sheet.range('A1').expand().value

In [36]:
pd.DataFrame(data)

     0   1    2
0   구분  현행  개정안
1  한국어  30   50
2   경력  40   20
3   성적  20   10

In [37]:
# 컬럼명 새로 설정하기
columns = data[0]
df = pd.DataFrame(data[1:], columns = columns).set_index('구분')

In [39]:
df.index
df

       현행   개정안
구분
한국어  30.0  50.0
경력   40.0  20.0
성적   20.0  10.0

In [40]:
for 구분 in df.index:
    print(구분)

한국어
경력
성적

In [42]:
# 대괄호로 데이터 접근하기
df.loc['성적']

현행     20.0
개정안    10.0
Name: 성적, dtype: float64

## 파이썬 코드로 엑셀 값 바꾸기

In [44]:
# 파이썬 코드로 엑셀 값 바꾸기
sheet.range('E2').value = 10

In [45]:
# 가로로 지정
sheet.range('E2').value = [10,20,30]

In [46]:
# 세로로 지정
sheet.range('E4').options(transpose=True).value = [10,20,30]

In [47]:
sheet.range('E8:H12').value=100

In [54]:
# 삭제하기  왜 안되냐
sheet.range('E8:H12').clear_contents()

In [55]:
df

       현행   개정안
구분
한국어  30.0  50.0
경력   40.0  20.0
성적   20.0  10.0

In [70]:
# 시리즈 연산
매출 = df['현행'] * df['개정안']

In [76]:
매출.values

array([1500.,  800.,  200.])

In [77]:
df['매출'] = 매출
df.head()

       현행   개정안      매출
구분
한국어  30.0  50.0  1500.0
경력   40.0  20.0   800.0
성적   20.0  10.0   200.0

In [78]:
# 엑셀에 반영하기
sheet.range('D1').value = '매출'

In [79]:
sheet.range('D2').value = 매출.values

In [80]:
# 데이터프레임 전체 한번에 반영하기
xw.view(df, sheet)

In [83]:
# 저장하기
workbook.save('c:/hello.xlsx')

In [84]:
# 엑셀 닫기
workboo.app.kill()

NameError: name 'workboo' is not defined