# 주 자료구조 설명

## 1. 시리즈

1차원 데이터를 표현

인덱스 지님(사전의 key와 유사하나 같은 값의 index 중복 지정 가능)
순서 개념이 있다
음수 index 지원 불가

In [14]:
import pandas as pd
pd.__version__

'1.0.1'

In [11]:
series = pd.Series(['a','b','c'], index=[3,2,3])

In [9]:
series[2]

'b'

In [10]:
series.index

Int64Index([3, 2, 1], dtype='int64')

In [12]:
series[3] # 두 개가 출력됨

3    a
3    c
dtype: object

## 2. 데이터프레임

2차원 데이터를 표현, 엑셀 워크시터 유사

list, tuple, dict의 2차원 디비생성 지원
index와 column로 이루어짐(행/열)
.loc쓰는 경우! 가로 행 볼 때

In [18]:
df = pd.DataFrame([
    [100,200,300],
    [150,250,350],
    [300,500,1000]
])

In [19]:
df[1] # 세로열 출력

0    200
1    250
2    500
Name: 1, dtype: int64

In [20]:
df.loc[1] # 가로 행 출력

0    150
1    250
2    350
Name: 1, dtype: int64

In [23]:
# 새로운 열 추가하기
df[3] = [200,210,220]
df

     0    1     2    3
0  100  200   300  200
1  150  250   350  210
2  300  500  1000  220

In [56]:
# 엑셀 등 데이터베이스 호환하기
df = pd.read_excel('score.xlsx')
print(df.shape) # 몇행 몇열
df.head() # 앞 10개

(3, 3)

    구분  현행  개정안
0  한국어  30   50
1   경력  40   20
2   성적  20   10

In [57]:
# 인덱스 이름 바꾸기
df = df.set_index('구분')
df

     현행  개정안
구분
한국어  30   50
경력   40   20
성적   20   10

In [65]:
# 행만 보기(데이터1개)
df.loc['한국어']

현행     30
개정안    50
Name: 한국어, dtype: int64

In [69]:
# 열만 보기
df['개정안']

구분
한국어    50
경력     20
성적     10
Name: 개정안, dtype: int64

In [72]:
df['평균'] = df['현행']+df['개정안'] //2

In [73]:
df

     현행  개정안  평균
구분
한국어  30   50  55
경력   40   20  50
성적   20   10  25

In [74]:
# 내보내기
df.to_excel('score_result.xlsx')