In [7]:
import pandas as pd
import xlwings as xw
df = pd.read_excel('score.xlsx', index_col="구분")

In [11]:
# 새로만들기
df['테스트컬럼']=range(1,11,1)
df.head()

     현행  개정안    매출  테스트컬럼
구분
한국어  30   50  1500      1
경력   40   20   800      2
성적   20   10   200      3
중국어  34  345   666      4
일본어   5  673     6      5

In [15]:
# 한 행 삭제
df = df.drop('경력')

In [20]:
# 컬럼 삭제
df = df.drop('테스트컬럼', axis=1)
df = df.drop(columns=["테스트컬럼"])

KeyError: "['테스트컬럼'] not found in axis"

In [25]:
df1 = pd.read_excel('score.xlsx',index_col='구분')

In [26]:
df2 = pd.read_excel('score.xlsx',index_col='구분')

In [32]:
# 컬럼 합치기
df3 = df1.append(df2, sort=True)
df3.shape

(20, 3)

In [35]:
df4 = pd.concat([df1,df2], axis=0) # axis1로 하면 우측 붙이기
df4.head()

     현행  개정안    매출
구분
한국어  30   50  1500
경력   40   20   800
성적   20   10   200
중국어  34  345   666
일본어   5  673     6