In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('score.xlsx', index_col='구분')
df['년월']='2019-10'

In [7]:
df

      현행  개정안    매출       년월
구분
한국어   30   50  1500  2019-10
경력    40   20   800  2019-10
성적    20   10   200  2019-10
중국어   34  345   666  2019-10
일본어    5  673     6  2019-10
영어     1   89    45  2019-10
스페인어   6   77     2  2019-10
한본어    7   45    54  2019-10
트수어   86   20     6  2019-10
갸갹    20   23    55  2019-10

In [14]:
df_list = []
for month in range(1,12):
    excel_path='data/2019-%02d.xls' % month
    print(excel_path)
#     df = pd.read_excel(excel_path, index_col='구분')
#     df['년월']='2019-%02d.' % month

data/2019-01.xls
data/2019-02.xls
data/2019-03.xls
data/2019-04.xls
data/2019-05.xls
data/2019-06.xls
data/2019-07.xls
data/2019-08.xls
data/2019-09.xls
data/2019-10.xls
data/2019-11.xls

In [15]:
df_merged = pd.concat(df_list, axis=0, sort=True)

ValueError: No objects to concatenate

In [ ]:
df_merged.to_excel('합친결과.xlsx')

In [16]:
import pathlib

In [ ]:
# 모든 파일 보기
list(path.iterdir())
df_list = []
for path_name in pathlib.Path('./data').iterdir():
    print(path)
    df = 
# 패턴 지정
#pathlib.Path('./data').glob('2016-*.xls')
# 모든 파일 재귀적으로 찾기 glob.(**/*.xls):