## Xlwings 라이브러리
강력한 라이브러리
엑셀 매크로 기능을 파이썬으로 구현해 지원

In [8]:
import xlwings as xw

In [2]:
xlwings.__version__

'0.17.1'

In [6]:
data = [
    ['apple','cherry','berry'],
    [100,200,300],
    [140,200,500],
]
data

[['apple', 'cherry', 'berry'], [100, 200, 300], [140, 200, 500]]

In [9]:
# 엑셀에서 보기(새로 창 열기)
xw.view(data)

In [12]:
# numpy  이용
import numpy as np
data = np.random.rand(3,5)

In [18]:
# 이미 띄워놓은 것 갱신
xw.view(data, xw.sheets.active)
# xw.view 이용해 전체 워크시트 바꾸기

In [19]:
import pandas as pd

In [21]:
url = 'https://finance.naver.com/marketindex/exchangeList.nhn'
df_list = pd.read_html(url)
len(df_list)

1

In [22]:
df = df_list[0]
print(df.shape)
df.head()

(44, 7)

             통화명    매매기준율       현찰                송금           미화환산율
             통화명    매매기준율     사실 때     파실 때    보내실 때    받으실 때  미화환산율
0         미국 USD  1236.00  1257.63  1214.37  1248.10  1223.90  1.000
1       유럽연합 EUR  1334.76  1361.32  1308.20  1348.10  1321.42  1.080
2  일본 JPY (100엔)  1138.70  1158.62  1118.78  1149.85  1127.55  0.921
3         중국 CNY   173.67   182.35   164.99   175.40   171.94  0.141
4         홍콩 HKD   159.41   162.55   156.27   161.00   157.82  0.129

In [24]:
# 컬럼 명 정리하기
df.columns = [
    '통화명','매매기준율','현찰-사실때','현찰-파실때',
    '송금-보내실 때','송금-받으실 때','미화환산율',
]
df.head()

             통화명    매매기준율   현찰-사실때   현찰-파실때  송금-보내실 때  송금-받으실 때  미화환산율
0         미국 USD  1236.00  1257.63  1214.37   1248.10   1223.90  1.000
1       유럽연합 EUR  1334.76  1361.32  1308.20   1348.10   1321.42  1.080
2  일본 JPY (100엔)  1138.70  1158.62  1118.78   1149.85   1127.55  0.921
3         중국 CNY   173.67   182.35   164.99    175.40    171.94  0.141
4         홍콩 HKD   159.41   162.55   156.27    161.00    157.82  0.129

In [26]:
# index 변경하기
df = df.set_index('통화명')

In [27]:
# 엑셀로 띄우기
xw.view(df, xw.sheets.active)

In [31]:
# 엑셀 값 읽어오기
xw.Range('A1:C2').value

[['통화명', '매매기준율', '현찰-사실때'], ['미국 USD', 1236.0, 1257.63]]

In [35]:
# expand 이용하기
# 매 번 계산하기 힘들다, 처음부터 다 지정하기
# xw.Range('A1').expand() 기본값이 table
# xw.Range('A1').expand('table')
# xw.Range('A1').expand('right')
xw.Range('A1:B1').expand('down').value

[['통화명', '매매기준율'],
 ['미국 USD', 1236.0],
 ['유럽연합 EUR', 1334.76],
 ['일본 JPY (100엔)', 1138.7],
 ['중국 CNY', 173.67],
 ['홍콩 HKD', 159.41],
 ['대만 TWD', 40.88],
 ['영국 GBP', 1516.32],
 ['오만 OMR', 3210.14],
 ['캐나다 CAD', 871.22],
 ['스위스 CHF', 1265.49],
 ['스웨덴 SEK', 121.84],
 ['호주 AUD', 740.86],
 ['뉴질랜드 NZD', 723.49],
 ['체코 CZK', 48.35],
 ['칠레 CLP', 1.43],
 ['터키 TRY', 184.12],
 ['몽골 MNT', 0.44],
 ['이스라엘 ILS', 338.97],
 ['덴마크 DKK', 178.72],
 ['노르웨이 NOK', 118.58],
 ['사우디아라비아 SAR', 328.59],
 ['쿠웨이트 KWD', 3974.28],
 ['바레인 BHD', 3278.25],
 ['아랍에미리트 AED', 336.5],
 ['요르단 JOD', 1743.3],
 ['이집트 EGP', 78.48],
 ['태국 THB', 37.47],
 ['싱가포르 SGD', 860.99],
 ['말레이시아 MYR', 283.68],
 ['인도네시아 IDR 100', 7.55],
 ['카타르 QAR', 336.56],
 ['카자흐스탄 KZT', 2.78],
 ['브루나이 BND', 860.99],
 ['인도 INR', 16.26],
 ['파키스탄 PKR', 7.39],
 ['방글라데시 BDT', 14.56],
 ['필리핀 PHP', 24.32],
 ['멕시코 MXN', 50.06],
 ['브라질 BRL', 235.13],
 ['베트남 VND 100', 5.25],
 ['남아프리카 공화국 ZAR', 65.61],
 ['러시아 RUB', 16.03],
 ['헝가리 HUF', 3.66],
 ['폴란드 PLN', 290.99]]